/*dark grey #414A52*/
  /*fiesta red #F77068*/
  /*seafoam #BFDAC5*/
  /*blue #A1E0EE*/
body {
  display: flex;
  max-width: 903px;
  justify-content: center;
  margin: 0 auto;
}

.label {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: .4em

}

h1 {
  color: #CC5C39;
  font-family: sans-serif, helvetica;
  font-size: 3.5em;
}



.lines {
  color: lightGray;
  flex-basis: 75%;
  margin-top: 2.495em;
  margin-left: 1em;
  display: flex;
  flex-direction: column
}

hr {
  width: 100%;
}

.calculatorWrapper {
  margin-top: 3em;
  max-width: 60%;
  max-height: 60%;
  border: 1px solid #414A52;
  background-color: #0B2B48;
  padding: 20px;
  border-radius: 15px;
  justify-content: center;
}

.top {
  display: flex;
}

#display {
  font-family: 'Orbitron', sans-serif;
  font-size: 3em;
  color: #414A52;
  text-align: left;
  flex-grow: 3;
  flex-basis: 75vw;
  /*flex-shrink: 3;*/
  height: 7rem;
  background: linear-gradient(to bottom right, white, #DBEED7, #A8C7A2);
  border-radius: 10px;
  max-width: 72%;
  margin-right: 3.5px;
  margin-left: 8.5px;
}

#clear {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 27vw;
  margin-right: 8px;

}

.bottom {
  display: flex;
  flex-wrap: wrap;
}

button{
  flex-grow: 1;
  flex-basis: 20%;
  height: 7rem;
  border-radius: 45px;
  border-style: none;
  margin: 8px;
  background-color: #CED7DC;
  font-family: sans-serif, helvetica;
  font-weight: bolder;
  font-size: 2em;
  color: #0B2B48;
  outline: 0;
}



#plus {
  /*flex-basis: 20%;*/
}



#equal {
  background-color: #CC5C39;
}

#equal:hover {
  background-color: white;
}

button:hover {
  background-color: white;
  background-image:  url("http://ericandre.com/fun/stop/images/clickhead2.gif");
  background-size: contain;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0);
  background-position: center;
}

.green {
    background-color: #CAD969;
}

@media only screen (max-width)
